@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
		--colorPrincipal: #57635f;
		--colorSecundario: #566f7c;
		--colorTerciario: #3f525c;
		--textoSimple: 'Tajawal', sans-serif;
		--backgroundColor: #eeeeee;
}

body{
	background: var(--backgroundColor);
}

.col-mapa{
	height: 100%;
	background-color: var(--backgroundColor);
	font-family: var(--textoSimple);
}

.map-containers {
	position: relative;
}

.image-overlay {
	opacity: 1;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}
  
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
  
.map-containers:hover .image-overlay {
	opacity: 0.3;
}
  
.map-containers:hover .middle {
	opacity: 1;
}
  
.text-overlay {
	background-color: var(--colorSecundario);
	color: white;
	font-size: 1.1em;
}

.col-filtros{
	height: 100%;
	font-family: var(--textoSimple);
	background-color: white;
	border-radius: 3%;
}

.col-filtros h2{
	font-size: 40px;
	font-weight: bold;
}

.formulario {
    text-align-last: center;
    background: #dfdfdf;
    border: none;
    border-bottom: 3px solid var(--colorSecundario);
    box-shadow: none;
}

.buttons .btn {
    background: var(--colorSecundario);
    color: #ffffff;
}

.buttons:hover {
    color: var(--background);
}

.lista-zonas .item-zona{
	font-size: 1.1em;
	font-family: var(--textoSimple);
	color: var(--colorPrincipal);
	background-color: #dfdfdf;
	border-bottom: 3px solid var(--colorSecundario);
	border-radius: 8px;
}

.lista-zonas .item-zona:hover{
	background-color: var(--colorPrincipal);
	color: white;
	transition: 0.2s ease-in;
}

.lista-zonas .titulo-zonas{
	background-color: var(--colorPrincipal);
	border-color: var(--colorPrincipal);
	font-size: 1.5em;
	border-radius: 8px;
	color: white;
}

.contenedor-recom .card-body a{
	background-color: var(--backgroundColor);
	color: var(--colorPrincipal);
	border: none;
	border-bottom: 3px solid var(--colorSecundario);
	font-family: var(--textoSimple);
}

.contenedor-recom .card-body a:hover{
	background-color: var(--colorSecundario);
	border-bottom: 3px solid var(--backgroundColor);
	transition: 0.2s ease-in;
	color: #ffffff;
}

.containerR-titulo h3{
	font-size: 30px;
	font-weight: bold;
}

.contenedor-ultim .card .card-body a{
	text-decoration: none;
	color: black;
}

.containerU-titulo h4{
	font-weight: bold;
}

