@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
		--colorPrincipal: #57635f;
		--colorSecundario: #566f7c;
		--colorTerciario: #3f525c;
		--textoSimple: 'Tajawal', sans-serif;
		--backgroundColor: #eeeeee;
}

body{
	background: var(--backgroundColor);
	font-family: 'Open Sans', sans-serif;
}

.contenedor-principal{
    height: 1600px;
}

.col-mapa{
	height: 100%;
	background-color: var(--backgroundColor);
	font-family: var(--textoSimple);
}

.col-filtros{
	height: 100%;
}

.contenedor-recom{
	height: 500px;
}


