@import url('https://fonts.googleapis.com/css?family=Tajawal&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
		--colorPrincipal: #57635f;
		--colorSecundario: #566f7c;
		--colorTerciario: #3f525c;
		--textoSimple: 'Tajawal', sans-serif;
		--backgroundColor: #eeeeee;
}

body{
	background: var(--backgroundColor);
	font-family: 'Open Sans', sans-serif;
}

.contenedor-principal{
    height: 1700px;
}

.col-mapa{
	height: 100%;
	background-color: var(--backgroundColor);
	font-family: var(--textoSimple);
}

.col-filtros h2{
	font-size: 40px;
	font-weight: bold;
}

.col-filtros{
	height: 100%;
	font-family: var(--textoSimple);
}

.lista-zonas .item-zona{
	font-size: 18px;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--colorSecundario);
	color: white;
}

.lista-zonas .item-zona:hover{
	background-color: var(--colorPrincipal);
	color: white;
	transition: 0.2s ease-in;
}

.lista-zonas .titulo-zonas{
	background-color: var(--colorPrincipal);
	border-color: var(--colorPrincipal);
	font-weight: bold;
	font-size: 22px;
}

.contenedor-recom{
	height: 500px;
}

.contenedor-recom .card-body a{
	color:white;
	background-color: var(--colorPrincipal);
	font-weight: bold;
	border-color: var(--colorPrincipal);
}

.contenedor-recom .card-body a:hover{
	background-color: var(--colorSecundario);
	transition: 0.2s ease-in;
}

.contenedor-recom h3{
	font-size: 30px;
	font-weight: bold;
}

.contenedor-ultim .card .card-body a{
	text-decoration: none;
	color: black;
}

.contenedor-ultim h4{
	font-weight: bold;
}

