:root {
    --colorPrincipal: #57635f;
    --colorSecundario: #566f7c;
    --colorTerciario: #3f525c;
    --background: #eeeeee;
    --textoSimple: "Tajawal", sans-serif;
    --gradient1: linear-gradient(to bottom, var(--colorSecundario), var(--colorPrincipal));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--textoSimple);
}

/* Componentes */

.enviado-section {
    background: #ffffffbe;
    border-radius: 15px;
}

.enviado-section .svg-enviado {
    color: green;
    width: 20%;

}


.titulo-enviado {
    font-size: 200%;
    font-weight: bold;
}

.subtitulo-enviado {
    font-size: 120%;
}

.btn-secondary {
    font-size: 1em;
    background: var(--gradient1);
    width: 30%;
    height: 40%;
    font-weight: bold;
}

.btn-secondary:hover {
    background: var(--colorTerciario);
    transition: .7s;
}