:root {
  --colorPrincipal: #57635f;
  --colorSecundario: #566f7c;
  --colorTerciario: #3f525c;
  --textoSimple: "Tajawal", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#parallax {
  background-image: url(../Resources/Images/background.jpg);
  background-position: 50% 100%;
}

#parallax1 {
  background-image: url(../Resources/Images/background2.jpg);
  background-position: 50% 100%;
}

/* Parallax */
.parallax {
  height: 38em;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.parallax p {
  color: #fff;
  font-family: var(--textoSimple);
}

.parallax-overlay {
  background-color: #000000a6;
  height: 100%;
  width: 100%;
}

/* Contenedores gris */
.grey-box,
.grey-box2 {
  height: 38em;
  color: #ffffff;
}

.grey-box .home-intro-content h2 {
  color: #ffffff;
}

/* Seccion Compra-Venta */
.btn-compra,
.btn-venta {
  background: #57635f;
  color: #ffffff;
  font-family: var(--textoSimple);
  font-weight: 500;
  font-size: 1.5em;
  width: 30%;
  align-items: center;
}

.btn-compra:hover,
.btn-venta:hover {
  color: #dadada;
  background-color: var(--colorTerciario);
}

/* Dentro de contenidos*/
.home-intro-content {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 7em 0;
  text-align: center;
  height: 100%;
}

.home-intro-content h2 {
  font-size: 50px;
  font-weight: 800;
  color: #ffffff;
}

.home-intro-content p {
  margin: 25px 0;
  font-size: 20px;
  line-height: 32px;
}

.home-intro-content .btn:hover {
  opacity: 0.9;
}

.btn-parallax {
  background: #ffffff;
  font-family: var(--textoSimple);
  font-weight: 700;
  font-size: 1.5em;
  width: 35%;
  align-items: center;
}

/* Servicios box*/

.contenedor-servicios {
  height: 100%;
}

.row {
  margin: auto 10px !important;
}

.col-md-3 .svg-servicios{
  height: 80px;
  margin-top: 10px;
}

.card-servicios h2 {
  align-content: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 1em;
}

.card-title {
  font-family: var(--textoSimple);
  font-weight: 800;
  font-size: 30px;
}

.card-parrafo {
  font-size: 1em;
  margin-bottom: auto;
}

/* Footer */
.footer-page h5 {
  font-weight: bold;
}

@media only screen and (max-device-width: 480px),
  only screen and (min-device-width: 490px) and (max-device-width: 1136px) {
  .btn-parallax {
    width: 45%;
    font-size: 1.2em;
  }

  .home-intro-content .col-md-12 {
    top: -40px;
  }

  .home-intro-content h2 {
    font-size: 30px;
  }

  .home-intro-content p {
    font-size: 19px;
    line-height: 18px;
  }

  .footer-page {
    display: flex;
    justify-content: center;
  }

  .btn-compra,
  .btn-venta {
    font-size: 1.2em;
    width: 35%;
  }
}
