@import url("https://fonts.googleapis.com/css?family=Tajawal&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal: #57635f;
  --colorSecundario: #566f7c;
  --colorTerciario: #3f525c;
  --textoSimple: "Tajawal", sans-serif;
}

body {
  background: #eeeeee;
  font-family: "Open Sans", sans-serif;
}

/* Principal */

.ventas-principal{
    height: 400px;
    background: red;
}

/* Menu */ 
aside {
    background: blue;
}