@import url("https://fonts.googleapis.com/css?family=Tajawal&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --colorPrincipal: #57635f;
  --colorSecundario: #566f7c;
  --colorTerciario: #3f525c;
  --background: #eeeeee;
  --textoSimple: "Tajawal", sans-serif;
}

body {
  background: #eeeeee;
  font-family: var(--textoSimple);
  font-size: 2rem;
}

/* Aside */

aside article {
  /* color: #566f7c; */
}

aside article .form-control {
  background: #eeebeb;
  color: #444444;
  border-bottom: 3px solid var(--colorTerciario);
  transition: .5s;
}

article .card-header {
  background: var(--colorSecundario);
}

article .card-header a {
  color: #ffffff;
}

aside .card-body a{
  color: var(--colorSecundario);
  font-weight: 600;
}

.card-body span {
  color: var(--colorTerciario);
}

aside .card-body a:hover{
  color: var(--colorTerciario);
  outline: none;
}


/* Por Precio */
aside .custom-range {
  color: var(--colorSecundario);
  outline: none;
}

input[type=range]::-webkit-slider-thumb {
  background: var(--colorSecundario);
}

input[type=range]::-webkit-slider-runnable-track {
  /* width: 100%; */
  cursor: pointer;
  background: #b4b4b4;
}

aside .btn-aplicar {
  background: var(--colorSecundario);
  color: #ffffff;
}

aside .btn-aplicar:hover {
  color: var(--background);
}

/* checkbox */
aside .custom-control-label::after {
  height: .9em;
  background: #566f7c;
  border-radius: 15%;
  box-shadow: none;
}